@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;600;700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;600;700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;








header{
    @apply
    bg-hero
    h-screen
    w-full
    object-cover
    bg-no-repeat
    bg-center
    bg-cover 
    relative
}


.navbar{
    @apply
    relative
    z-50
    pt-10
    pl-10
    md:flex
    md:flex-row
    
    md:justify-between
    md:align-middle
} 

.navbar img{
    @apply
    relative
    w-auto
    h-auto  
    z-50
}

.active{
    @apply
    left-0
}

.nav-links ul{
    @apply
    bg-black
    w-full
    absolute
    top-0
  
    h-screen
    pt-72
    pl-10
    overflow-x-hidden
    transition-all
    ease-linear
    duration-500
    active:left-0
    md:relative
    md:bg-transparent
    md:flex
    md:align-middle
    md:pr-10
    md:pt-0
    md:pl-0
    md:left-0
    md:justify-between
    md:space-x-5
    md:h-auto
}

 
.nav-links ul li{
    @apply
    pt-5
    text-5xl
    md:text-lg
    md:pt-0
}
.navbar ul li a{
    @apply
    font-normal
    text-white
    hover:border-b-4
    hover:border-b-white
    transition
    ease-in-out
    delay-150
    duration-300
    active:left-0
} 

.toggle-button{
    @apply
    absolute
    top-11
    right-10
    flex
    flex-col
    justify-between
    w-8
    h-5
    z-50
    md:hidden
}

.toggle-button .bar{
    @apply
    h-1
    w-full
    bg-white
    rounded-xl
}
/* ****************************************************************************************************************************** */
/* HERO SECTION */
.hero{
    @apply
    flex
    flex-wrap
    w-full
    p-1
    text-5xl
    align-middle
    justify-center
    absolute
    top-1/4
    md:text-7xl
    md:justify-start
    md:w-1/2
    
    /* md: */
}

.hero h1{
    @apply
    text-white
    p-6
    md:p-20
    uppercase
    border-solid
    border-2
    font-light
}

/* **************************************************************************************************************************** */
/* SECTION 1 */
.section-1{
    @apply
    flex
    flex-col
    justify-center
    relative
    my-28
    mx-10
    md:mx-40
    md:grid
    md:grid-cols-10
    m-auto
    text-center
}
.section-1 img{
    @apply
    w-full
    object-cover
    md:row-span-full
    md:col-start-1
    md:col-span-6
    self-center
    m-auto
}

.stack{
    @apply
   md:row-span-full
   md:col-span-6
   md:col-end-11
   md:self-center
   md:p-10
   md:w-4/5
   md:h-auto
    bg-white
}

.stack h1{
    @apply
    text-4xl
    font-light
    pb-4
    md:text-5xl
}
.stack p{
    @apply
    leading-10
    md:leading-5
    md:p-1
    text-gray-500
    text-xl
    md:text-lg
}

/* ************************************************************************************************************************** */
/* SECTION-2 */
.section-2{
    @apply
    relative
    text-center
    mx-10
    md:mx-40
}
.section-2 .section-2-heading{
    @apply
    text-4xl
    font-light
    pb-12
    md:flex
    md:justify-between
    
}

.area{
    @apply
    flex
    flex-col
    md:grid
    md:grid-cols-4
    md:gap-4
    md:mb-60
} 

.area .square {
    @apply
    relative
    pb-4
    md:pb-0
    ease-linear
    duration-300
    text-white
    text-opacity-100
    hover:opacity-95
    hover:text-violet-900
    hover:text-opacity-100
}

.area .square img{
    @apply
    w-full
}

.area .square h1{
    @apply
    absolute
    left-1/4
    bottom-1/4
    text-xl
    z-50
    opacity-100
    font-normal
    
}

.btn-see-all{
    @apply
    mt-5
    mb-20
    text-black
    text-xl
    uppercase
    border-black
    border-solid
    border-2
    font-normal
    m-auto
    w-64
    p-3
    bg-white
    hover:bg-black
    hover:text-white
    /* md:w-1/4 */
}



/* ******************************************************************************************************************************* */
/* FOOTER */
footer{
    @apply
    bg-black
    grid
    grid-cols-1
    md:grid-cols-2
    px-10
    md:px-40
}


.grid-footer .logo {
    @apply
    flex
    justify-center
    py-14
    md:justify-start
}

.footer-links{
    @apply
    text-white
    grid-cols-1
    
}

.grid-footer .footer-links ul{
    @apply
    flex
    space-x-2
    m-auto
    flex-col
    justify-center
    md:flex-row
    md:justify-start
    text-center
    
}



.grid-footer .footer-links ul li{
    @apply
    pb-10
    text-xl
    font-bold
}

.social-icons{
    @apply
    flex
    flex-row
    space-x-7
    justify-center
    mt-6
   
}
.footer-2{
    @apply
    md:pt-10
}
.social-icons img{
    @apply
     w-11
}

.copy-right{
    @apply
    text-gray-500
    text-center
    py-10
}


/* ******************************************************************************************** */
/* ANIMATIONS */

.hd{
    @apply
    opacity-0
    blur-sm
    transition-all
    ease-linear
    duration-300
    /* -translate-x-full */
}
/* 
@media(prefers-reduced-motion){
    .hd{
        @apply
        transition-none
    }
} */

.show{
    @apply
    blur-none
    opacity-100
    /* translate-x-0 */
}

.square:nth-child(2){
    @apply
    transition-all
    duration-100
}
.square:nth-child(3){
    @apply
    transition-all
    duration-150
}
.square:nth-child(4){
    @apply
    transition-all
    duration-200
}
.square:nth-child(5){
    @apply
    transition-all
    duration-300 
}
.square:nth-child(6){
    @apply
    transition-all
    duration-500
}
.square:nth-child(7){
    @apply
    transition-all
    duration-700
}
.square:nth-child(8){
    @apply
    transition-all
    duration-1000
}
